/* Alpha & Opacity 👇*/
h1 {
    color: rgba(255, 0, 0, 0.306);
    /* This is Alpha          ⏫ */

    /* Alpha Can be in hec code */
    color: #adff00a1;
    /* Last 'a1' is alpha value */

    opacity: 0.5;
    /*       ⏫This is Opacity */

    /* This boath atr shoud be between 0-1 */
}

/* Transition 👇 */
#div1 {
    height: 200px;
    width: 200px;
    background-color: orange;

    transition: 1s 1s;
    /* first 1s for transition and second is for delay (This is actually shorthand of transition)*/
}

#div1:hover {
    background-color: aqua;
    border-radius: 50%;
}

#div2 {
    height: 100px;
    width: 100px;
    background-color: blue;

    margin: 0 auto;
    /* For center the div */

    transition: margin-top 2s ease-in 0.2s; 
    /* Correct Shorthand */
}

#div2:hover {
    margin-top: 300px;
    background-color: chartreuse;
}

/* Transform 👇 */
#div3 {
    transform: rotate(35deg); /* For rotate */
    transform: scale(0.5); /* For change scale */
    /* You can scale to X and Y */
    transform: scale(0.5, 2);
    transform: scaleX(0.5);
    transform: scaleY(2);
}

/* Tramslate 👇 */
#div3 {
    transform: translate(50px, 50px);
    /* It meanse you can 'move' */

    /* It can be i X abd Y */
    transform: translateX(10px);
    transform: translateY(10px);
}

#div5 {    
    transform: skew(30deg);  /* Tedha */

    transform: skewX(30deg);
    transform: skewY(30deg);
}

#div6 {
    transform: skewX(30deg) rotate(46deg);
    /* It can be ushed multiple times */
}

/* Box Shadow 👇 */
#div6{
    box-shadow: 2px 2px 10px black;
    /*           X   Y  Blur   Color*/
}

/* Bacground Image 👇 */
#div6 {
    background-image: url(Images/Elizabeth_Olsen.png);
    background-size: cover;
    /* !=background-size: contain / auto/ cover;=! */
}

/* Position 👇
--> The position property sets how an element is positiomed in a document
--> The top, right, bottom, and lef properties detramine thr final location of positiomed elements

-> static (This is deafult)
-> relative
-> absolute
-> fixed
> sticky

For more: /Position Property
*/