<%- include("includes/head.ejs") %>

<body>
    <h1>
        <%= randNum %>
    </h1>

    <% if(randNum==0) {%>
        <h2>You get 0 </h2>
    <% } %>

    <% for(let i = 0; i <= 5; i++) {%>
        <h1>Azim</h1>
    <% } %>
</body>

</html>