h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: justify;
}

/* text-align: left; / start
 * text-align: right; / end
 * text-align: center;
 * text-align: justify;
 */