h1 {
    text-align: center;
}

/* -------------------------------- */

#container_1 {
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;

    justify-content: flex-start;
}

#container_1 div {
    height: 100px;
    width: 100px;
    color: wheat;
    text-align: center;
    font-size: 25px;
}

/* -------------------------------- */

#container_2 {
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;

    justify-content: flex-end;
}

#container_2 div {
    height: 100px;
    width: 100px;
    color: wheat;
    text-align: center;
    font-size: 25px;
}

/* -------------------------------- */

#container_3 {
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;

    justify-content: center;
}

#container_3 div {
    height: 100px;
    width: 100px;
    color: wheat;
    text-align: center;
    font-size: 25px;
}

/* -------------------------------- */

#container_4 {
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;

    justify-content: space-between;
}

#container_4 div {
    height: 100px;
    width: 100px;
    color: wheat;
    text-align: center;
    font-size: 25px;
}

/* -------------------------------- */

#container_5 {
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;

    justify-content: space-around;
}

#container_5 div {
    height: 100px;
    width: 100px;
    color: wheat;
    text-align: center;
    font-size: 25px;
}

/* -------------------------------- */

#container_6 {
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;

    justify-content: space-evenly;
}

#container_6 div {
    height: 100px;
    width: 100px;
    color: wheat;
    text-align: center;
    font-size: 25px;
}

/* -------------------------------- */

/* Justify Content 
 * --> Tells the browser distribute space between and around containt items along the main-axis
 *
 * -> justify-content: flex-start;
 * -> justify-content: flex-end;
 * -> justify-content: center;
 *
 * -> justify-content: space-between;
 * -> justify-content: space-around;
 * -> justify-content: space-evenly;
 */