* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --primary-color: #0b5ed7;
    --secondary-color: #fb8908;
}

body {
    background-color: white;
}

main {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 500px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
}

.create {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
}

.container input {
    padding: 5px 10px;
    margin-top: 50px;
    outline: none;
    border-radius: 7px;
    border: 1px solid black;
    width: 100%;
}

.container textarea {
    padding: 5px 10px;
    border-radius: 7px;
    border: 1px solid black;
    margin-top: 20px;
    outline: none;
    height: 200px;
    width: 100%;
    max-height: 400px;
}

.container button {
    margin-top: 20px;
    width: 100%;
}