<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Enter password for deleteting your account</p>
    <form method="post" action="/user/<%=user.id%>?_method=DELETE">
        <input type="password" name="password">
        <button>Submit</button>
    </form>
</body>

</html>